/*
@import "compass/css3/box-shadow";
$highlight: #d9c10c;
$highlight-text: #efebdf;
*/
body {
  background:pink ;
}

/*
@import "components/buttons";
@import "components/comments";
@import "components/forms";
@import "components/grid";
@import "components/wp-classes";
@import "layouts/header";
@import "layouts/sidebar";
@import "layouts/footer";
@import "layouts/pages";
@import "layouts/posts";
@import "layouts/tinymce";
*/
